
html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}






.title{
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
}

.button-container {
    margin-top: 200px;
    text-align: center;
    font-size: larger;

}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;

}
.footer-text{
    font-size: medium;
}
/* From Xavier */

/* Background Themes */
.theme-dark {
    background-color: #222;
    color: #fff;
}

.theme-light {
    background-color: #f2f2f2;
    color: #333;
}